<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joey.lee.org.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".Activity7"></activity>
        <activity android:name=".Activity6" />
        <activity android:name=".Activity5" />
        <activity android:name=".Activity4" />
        <activity android:name=".Activity3" />
        <activity android:name=".Activity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.here.sdk.access_key_id" android:value="kwe3YadDNVhNbAmrjqaqwg" />
        <meta-data android:name="com.here.sdk.access_key_secret" android:value="633SYrdTV--ycLSj65kn9Nr2uHFlcCF1f4tNkPoALv-yCO9LfTsS5pPRtkv8dLCHEIKq3TXIaP3jWmlf-xLHEw"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>